
<section class="corpoInform">
<h1>Informações</h1>
    
<div class="textoInform">Facilidade </div>
</div>
<%= informacao.conteudo1 %>
<br><br><br>
<div class="textoInform">Presença </div>
</div>
<%= informacao.conteudo2 %>
<br><br><br>
<div class="textoInform">Acessibilidade</div>
</div>
<%= informacao.conteudo3 %>
</section>
    

    
    
    
    