
<div class = "textoProduto"> 
    <h1> Informações </h1>
    </div>
    
    <div class="produtos">
      <% informacoes.forEach(informacao => { %>
        <div  class="produto">
        <p><%= informacao.conteudo %></p>
         
       
        </div>
      <% }) %>
      </div>
    </div>
    
    
    
    