<header>
  <img class="logo" src="/img/logo.png"/>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="../html/planos.html">Planos</a></li>
      <li><a href="../html/informacoes.html">Informações</a></li>
      <li><a href="../html/login.html">Login</a></li>
      <li><a href="../html/registrar.html">Registrar</a></li>
      <li><a href="/produto">Produtos</a></li>
    </ul>
  </nav>
</header>